<div>
  <p class="sidebar-title">
    Cadastro
  </p>
  <mat-list>
    <mat-list-item routerLink="cadastrar" routerLinkActive="active">
      <mat-icon>perm_identity</mat-icon>Cadastrar
    </mat-list-item>
    <mat-list-item routerLink="agendamento/realizados" routerLinkActive="active">
      <mat-icon>how_to_reg</mat-icon>Cadastrados
    </mat-list-item>
  </mat-list>

  <p class="sidebar-title">
    Imovel
  </p>

  <mat-list>
    <mat-list-item routerLink="empresa/cadastro" routerLinkActive="active">
      <mat-icon>location_city</mat-icon> Apartamento
    </mat-list-item>

    <mat-list-item routerLink="empresa/contrato" routerLinkActive="active">
      <mat-icon>work</mat-icon> Casa
    </mat-list-item>


  </mat-list>


</div>