<div>
  <mat-card-title class="center">Cadastrar</mat-card-title>


  <form>
    <mat-form-field class="form-element">
      <input matInput placeholder="Endereço" formControlName="email">
    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Valor" formControlName="name">

    </mat-form-field>

    <mat-form-field class="form-element">
      <input matInput placeholder="Numero dos quartos" formControlName="name">
    </mat-form-field>

  </form>
</div>